::-webkit-scrollbar {
    width: 0px;
    height: 20px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #eaeaea;
    border-radius: 0;
}

::-webkit-scrollbar-thumb:hover {
    background: #b9b9b9;
}

::-webkit-scrollbar-thumb:active {
    background: #9c9c9c;
}
